@{
    ViewBag.Title = "爱小器后台管理界面";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/default.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/js/themes/default/easyui.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/js/themes/icon.css")" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-1.7.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.easyui.min.js")"></script>
    <script type="text/javascript" src='@Url.Content("~/Content/js/Unitoys.Util.js")'> </script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/locale/easyui-lang-zh_CN.js")"></script>
    <script type="text/javascript" src='@Url.Content("~/Content/js/echarts/echarts.min.js")'> </script>
    <script type="text/javascript">
        var _menus = {
            "menus": [{
                "menuid": "56",
                "icon": "icon-sys",
                "menuname": "用户管理",
                "menus": [{
                    "menuid": "31",
                    "menuname": "用户列表",
                    "icon": "icon-users",
                    "url": "/Manage/User"
                }, {
                    "menuid": "35",
                    "menuname": "用户登录记录",
                    "icon": "icon-users",
                    "url": "/Manage/UserLoginRecord"
                },
                {
                    "menuid": "32",
                    "menuname": "用户订单管理",
                    "icon": "icon-nav",
                    "url": "/Manage/Order"
                },
                {
                    "menuid": "33",
                    "menuname": "用户账单管理",
                    "icon": "icon-nav",
                    "url": "/Manage/UserBill"
                },
                {
                    "menuid": "34",
                    "menuname": "充值记录管理",
                    "icon": "icon-nav",
                    "url": "/Manage/Payment"
                }, {
                    "menuid": "36",
                    "menuname": "通话记录管理",
                    "icon": "icon-nav",
                    "url": "/Manage/SpeakRecord"
                }, {
                    "menuid": "38",
                    "menuname": "用户大号管理",
                    "icon": "icon-nav",
                    "url": "/Manage/CallTransferNum"
                }, {
                    "menuid": "39",
                    "menuname": "充值卡管理",
                    "icon": "icon-nav",
                    "url": "/Manage/PaymentCard"
                }, {
                    "menuid": "40",
                    "menuname": "用户反馈管理",
                    "icon": "icon-nav",
                    "url": "/Manage/Feedback"
                }
                , {
                    "menuid": "41",
                    "menuname": "用户运动管理",
                    "icon": "icon-nav",
                    "url": "/Manage/Sport"
                }, {
                    "menuid": "42",
                    "menuname": "众筹订单管理",
                    "icon": "icon-nav",
                    "url": "/Manage/OrderByZC"
                }, {
                    "menuid": "43",
                    "menuname": "众筹选号管理",
                    "icon": "icon-nav",
                    "url": "/Manage/ZCSelectionNumber"
                }, {
                    "menuid": "44",
                    "menuname": "礼包卡管理",
                    "icon": "icon-nav",
                    "url": "/Manage/GiftCard"
                }, {
                    "menuid": "45",
                    "menuname": "用户黑名单管理",
                    "icon": "icon-nav",
                    "url": "/Manage/BlackList"
                }
                ]
            }, {
                "menuid": "8",
                "icon": "icon-sys",
                "menuname": "短信系统",
                "menus": [{
                    "menuid": "21",
                    "menuname": "短信记录管理",
                    "icon": "icon-nav",
                    "url": "/Manage/SMS"
                }]
            },
            {
                "menuid": "1",
                "icon": "icon-sys",
                "menuname": "系统管理",
                "menus": [{
                    "menuid": "12",
                    "menuname": "管理员管理",
                    "icon": "icon-add",
                    "url": "",
                    "child": [{
                        "menuid": "142",
                        "menuname": "管理员列表",
                        "icon": "icon-role",
                        "url": "/Manage/ManageUser"
                    }]
                }, {
                    "menuid": "142",
                    "menuname": "角色管理",
                    "icon": "icon-role",
                    "url": "/Manage/Role"
                },
                {
                    "menuid": "13",
                    "menuname": "权限管理",
                    "icon": "icon-users",
                    "url": "/Manage/Permission"
                },
                {
                    "menuid": "14",
                    "menuname": "管理员&角色管理",
                    "icon": "icon-users",
                    "url": "/Manage/ManageUserRole"
                },
                {
                    "menuid": "15",
                    "menuname": "角色&权限管理",
                    "icon": "icon-users",
                    "url": "/Manage/RolePermission"
                },
                {
                    "menuid": "13",
                    "menuname": "用户管理",
                    "icon": "icon-users",
                    "url": "/Manage/User"
                },
                {
                    "menuid": "20",
                    "menuname": "Banner管理",
                    "icon": "icon-users",
                    "url": "/Manage/Banner"
                },
                {
                    "menuid": "21",
                    "menuname": "页面展示管理",
                    "icon": "icon-users",
                    "url": "/Manage/PageShow"
                },
                {
                    "menuid": "25",
                    "menuname": "产品管理",
                    "icon": "icon-users",
                    "url": "/Manage/Product"
                }, {
                    "menuid": "22",
                    "menuname": "系统配置管理",
                    "icon": "icon-users",
                    "url": "/Manage/Config"
                }, {
                    "menuid": "23",
                    "menuname": "操作记录管理",
                    "icon": "icon-users",
                    "url": "/Manage/OperationRecord"
                }, {
                    "menuid": "24",
                    "menuname": "日志管理",
                    "icon": "icon-users",
                    "url": "/Manage/OperationRecord/LogIndex"
                }, {
                    "menuid": "25",
                    "menuname": "推送内容管理",
                    "icon": "icon-users",
                    "url": "/Manage/PushContent/Index"
                }]
            },
            {
                "menuid": "56",
                "icon": "icon-sys",
                "menuname": "套餐管理",
                "menus": [{
                    "menuid": "31",
                    "menuname": "套餐列表",
                    "icon": "icon-nav",
                    "url": "/Manage/Package/Index"
                }, {
                    "menuid": "32",
                    "menuname": "国家费率",
                    "icon": "icon-nav",
                    "url": "/Manage/Country/Index"
                }]
            },
            {
                "menuid": "56",
                "icon": "icon-sys",
                "menuname": "设备管理",
                "menus": [{
                    "menuid": "31",
                    "menuname": "GOIP设备管理",
                    "icon": "icon-nav",
                    "url": "/Manage/DeviceGoip/Index"
                }, {
                    "menuid": "32",
                    "menuname": "SIMPOOL设备管理",
                    "icon": "icon-nav",
                    "url": "#"
                }, {
                    "menuid": "32",
                    "menuname": "终端设备管理",
                    "icon": "icon-nav",
                    "url": "#"
                }, {
                    "menuid": "33",
                    "menuname": "手环设备管理",
                    "icon": "icon-nav",
                    "url": "/Manage/DeviceBracelet/Index"
                }, {
                    "menuid": "34",
                    "menuname": "手环设备连接记录管理",
                    "icon": "icon-nav",
                    "url": "/Manage/DeviceBraceletConnectRecord/Index"
                }
                , {
                    "menuid": "35",
                    "menuname": "一正设备管理",
                    "icon": "icon-nav",
                    "url": "/Manage/EjoinDev/Index"
                },
                ]
            }, {
                "menuid": "59",
                "icon": "icon-sys",
                "menuname": "官网管理",
                "menus": [{
                    "menuid": "40",
                    "menuname": "新闻管理",
                    "icon": "icon-nav",
                    "url": "/Manage/News"
                }, {
                    "menuid": "41",
                    "menuname": "全局内容管理",
                    "icon": "icon-nav",
                    "url": "/Manage/GlobalContent"
                }]
            }]
        };

        //设置登录窗口
        function openPwd() {
            $('#w').window({
                title: '修改密码',
                width: 300,
                modal: true,
                shadow: true,
                closed: true,
                height: 160,
                resizable: false
            });
        }
        //关闭登录窗口
        function closePwd() {
            $('#w').window('close');
        }



        //修改密码
        function serverLogin() {
            var $newpass = $('#txtNewPass');
            var $rePass = $('#txtRePass');

            if ($newpass.val() == '') {
                msgShow('系统提示', '请输入密码！', 'warning');
                return false;
            }
            if ($rePass.val() == '') {
                msgShow('系统提示', '请在一次输入密码！', 'warning');
                return false;
            }

            if ($newpass.val() != $rePass.val()) {
                msgShow('系统提示', '两次密码不一至！请重新输入', 'warning');
                return false;
            }

            $.post('/ajax/editpassword.ashx?newpass=' + $newpass.val(), function (msg) {
                msgShow('系统提示', '恭喜，密码修改成功！<br>您的新密码为：' + msg, 'info');
                $newpass.val('');
                $rePass.val('');
                close();
            })

        }

        var eChartUser;
        var eChartPayment;
        var eChartOrderYesPayment;
        var eChartOrderActivation;
        var eChartOrderSmsConfirmation;
        function doSearch() {
            $.post("/User/GetOptionByBarChart", {
                createStartDate: $("input[name$='createStartDate']").val(),
                createEndDate: $("input[name$='createEndDate']").val()
            }, function (data) {
                eChartUser.setOption(data.opUser);
                eChartPayment.setOption(data.opPayment);
                eChartOrderYesPayment.setOption(data.opOrderYesPayment);
                eChartOrderActivation.setOption(data.opOrderActivation);
                eChartOrderSmsConfirmation.setOption(data.opOrderSmsConfirmation);
            })
        }
        function setDateRange(interval, number) {
            var today = new Date();

            if (number == 0) {
                $('#createEndDate').datebox('setValue', today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + (today.getDate() + 1));
            }
            else {
                $('#createEndDate').datebox('setValue', today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + (today.getDate()));
            }

            var dateEnd = DateAdd(interval, number, today);
            var year = dateEnd.getFullYear();
            var month = dateEnd.getMonth() + 1;
            var date = dateEnd.getDate();

            $('#createStartDate').datebox('setValue', year + '-' + month + '-' + date);

            doSearch();
        }
        /*
        *---------------Begin  DateAdd(interval,number,date)  -----------------
        *  DateAdd(interval,number,date)
        *  功能:实现JavaScript的DateAdd功能.
        *  参数:interval,字符串表达式，表示要添加的时间间隔.
        *  参数:number,数值表达式，表示要添加的时间间隔的个数.
        *  参数:date,时间对象.
        *  返回:新的时间对象.
        *  var  now  =  new  Date();
        *  var  newDate  =  DateAdd("d",5,now);
        *---------------End  DateAdd(interval,number,date)  -----------------
        */
        function DateAdd(interval, number, date) {
            switch (interval) {
                case "y": {
                    date.setFullYear(date.getFullYear() + number);
                    return date;
                    break;
                }
                case "q": {
                    date.setMonth(date.getMonth() + number * 3);
                    return date;
                    break;
                }
                case "m": {
                    date.setMonth(date.getMonth() + number);
                    return date;
                    break;
                }
                case "w": {
                    date.setDate(date.getDate() + number * 7);
                    return date;
                    break;
                }
                case "d": {
                    date.setDate(date.getDate() + number);
                    return date;
                    break;
                }
                case "h": {
                    date.setHours(date.getHours() + number);
                    return date;
                    break;
                }
                case "m": {
                    date.setMinutes(date.getMinutes() + number);
                    return date;
                    break;
                }
                case "s": {
                    date.setSeconds(date.getSeconds() + number);
                    return date;
                    break;
                }
                default: {
                    date.setDate(date.getDate() + number);
                    return date;
                    break;
                }
            }
        }
        $(function () {

            openPwd();

            $('#editpass').click(function () {
                $('#w').window('open');
            });

            $('#btnEp').click(function () {
                serverLogin();
            })

            $('#btnCancel').click(function () { closePwd(); })

            $('#loginOut').click(function () {
                $.messager.confirm('系统提示', '您确定要退出本次登录吗?', function (r) {

                    if (r) {
                        location.href = '/Manage/Login/Logout';
                    }
                });
            })

            // 基于准备好的dom，初始化echarts实例
            eChartUser = echarts.init(document.getElementById('eChartUser'));
            eChartPayment = echarts.init(document.getElementById('eChartPayment'));
            eChartOrderYesPayment = echarts.init(document.getElementById('eChartOrderYesPayment'));
            eChartOrderActivation = echarts.init(document.getElementById('eChartOrderActivation'));
            eChartOrderSmsConfirmation = echarts.init(document.getElementById('eChartOrderSmsConfirmation'));
            //doSearch();
            setDateRange('d', -1);
        });
    </script>
</head>
<body class="easyui-layout" style="overflow-y: hidden" fit="true" scroll="no">
    <noscript>
        <div style=" position:absolute; z-index:100000; height:2046px;top:0px;left:0px; width:100%; background:white; text-align:center;">
            <img src="images/noscript.gif" alt='抱歉，请开启脚本支持！' />
        </div>
    </noscript>
    <div id="loading-mask" style="position:absolute;top:0px; left:0px; width:100%; height:100%; background:#D2E0F2; z-index:20000">
        <div id="pageloading" style="position:absolute; top:50%; left:50%; margin:-120px 0px 0px -120px; text-align:center;  border:2px solid #8DB2E3; width:200px; height:40px;  font-size:14px;padding:10px; font-weight:bold; background:#fff; color:#15428B;">
            <img src="images/loading.gif" align="absmiddle" /> 正在加载中,请稍候...
        </div>
    </div>
    <div region="north" border="false" style="overflow: hidden; height: 70px; background: #2c4569 ; line-height: 20px; color: #fff; font-family: Verdana">
        <span style="float:right; padding-right:20px;" class="head">欢迎 xxx <a href="#" id="editpass">修改密码</a> <a href="#" id="loginOut">安全退出</a></span>
        <span style="padding-left:10px; font-size: 16px; "><img src="/content/images/logo.png" height="50" align="absmiddle" /> 爱小器后台管理系统</span>
    </div>
    <!--
    <div region="south" style="height: 0px; background: #D2E0F2; ">
        <div class="footer"></div>
    </div>-->
    <div region="west" title="导航菜单" style="width:180px;" id="west">
        <div id="nav">
            <!--  导航内容 -->
        </div>
    </div>
    <div id="mainPanle" region="center" style="background: #eee; overflow-y:hidden">
        <div id="tabs" class="easyui-tabs" fit="true" border="false">
            <div title="欢迎使用" style="">
                <div class="easyui-layout" fit="true">
                    <div data-options="region:'north',border:false" style="height:90px">
                        <div id="p" class="easyui-panel" title="高级查询" style="width:100%;height:90px;padding:10>
                            x;">
                            <h1 style="font-size: 24px; padding: 0 20px; overflow: hidden; color: red; float: left; margin: 0px; ">欢迎进入本系统！</h1>
                            <form id="ff" method="post">
                                <span>创建时间:</span>
                                <input id="createStartDate" type="text" class="easyui-datebox" name="createStartDate" data-options="showSeconds:false" style="height:25px;" />
                                <span>-</span>
                                <input id="createEndDate" type="text" class="easyui-datebox" name="createEndDate" data-options="showSeconds:false" style="height:25px;" />
                                <a href="#" class="easyui-linkbutton " onclick="setDateRange('d',-1)">昨天</a>
                                <a href="#" class="easyui-linkbutton " onclick="setDateRange('d',0)">今天</a>
                                <a href="#" class="easyui-linkbutton " onclick="setDateRange('w',-1)">近一周</a>
                                <a href="#" class="easyui-linkbutton " onclick="setDateRange('m',-1)">近一月</a>
                                <a href="#" class="easyui-linkbutton " onclick="setDateRange('m', -3)">近三月</a>
                                <a href="#" class="easyui-linkbutton " data-options="iconCls:'icon-search'" onclick="doSearch()">查询</a>
                            </form>
                        </div>
                    </div>
                    <div data-options="region:'center',border:false">
                        <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                        <div id="eChartUser" style="width: 600px;height:400px;float:left;"></div>
                        <div id="eChartPayment" style="width: 600px; height: 400px; float: left;"></div>
                        <div id="eChartOrderYesPayment" style="width: 600px; height: 400px; float: left;"></div>
                        <div id="eChartOrderActivation" style="width: 600px; height: 400px; float: left;"></div>
                        <div id="eChartOrderSmsConfirmation" style="width: 600px; height: 400px; float: left;"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--修改密码窗口-->
    <div id="w" class="easyui-window" title="修改密码" collapsible="false" minimizable="false"
         maximizable="false" icon="icon-save" style="width: 300px; height: 150px; padding: 5px;
        background: #fafafa;">
        <div class="easyui-layout" fit="true">
            <div region="center" border="false" style="padding: 10px; background: #fff; border: 1px solid #ccc;">
                <table cellpadding=3>
                    <tr>
                        <td>新密码：</td>
                        <td><input id="txtNewPass" type="Password" class="txt01" /></td>
                    </tr>
                    <tr>
                        <td>确认密码：</td>
                        <td><input id="txtRePass" type="Password" class="txt01" /></td>
                    </tr>
                </table>
            </div>
            <div region="south" border="false" style="text-align: right; height: 30px; line-height: 30px;">
                <a id="btnEp" class="easyui-linkbutton" icon="icon-ok" href="javascript:void(0)">
                    确定
                </a> <a id="btnCancel" class="easyui-linkbutton" icon="icon-cancel" href="javascript:void(0)">取消</a>
            </div>
        </div>
    </div>
    <div id="mm" class="easyui-menu" style="width:150px;">
        <div id="tabupdate">刷新</div>
        <div class="menu-sep"></div>
        <div id="close">关闭</div>
        <div id="closeall">全部关闭</div>
        <div id="closeother">除此之外全部关闭</div>
        <div class="menu-sep"></div>
        <div id="closeright">当前页右侧全部关闭</div>
        <div id="closeleft">当前页左侧全部关闭</div>
        <div class="menu-sep"></div>
        <div id="exit">退出</div>
    </div>
</body>
</html>